.loginPage {
    background: url('Images/employeems.jpg');
    background: linear-gradient(rgb(11,11,11,0.5),rgb(10,10,10,0.5)),url(Images/employeems.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
   
  
}
.loginForm{
    background-color: rgba(158, 168, 189, 0.6);
    color: rgb(232, 221, 221);
    background: transparent;
    margin-bottom: 10px;
  
}
ul li :hover{
    background-color: gray;
}
.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}